



#size-input {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.grid-container {
    display: grid;
    width: 750px;
    height: 750px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #e3e3e3;
    border: 50px solid #813;
}

.grid-square {
}